<section class="auth-section">
  <div class="container">
    <div class="form">
      <h1>Create Game</h1>
      <form (ngSubmit)="addGame($event)">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" ngModel required>
        </div>

        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" name="imageUrl" ngModel required>
        </div>

        <div class="form-group">
          <label for="creators">Creators:</label>
          <input type="text" id="creators" name="creators" ngModel required>
        </div>

        <div class="form-group">
          <label for="rating">Rating:</label>
          <input type="text" id="rating" name="rating" ngModel required>
        </div>

        <div class="form-group">
          <label for="downloads">Downloads:</label>
          <input type="text" id="downloads" name="downloads" ngModel required>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" ngModel required></textarea>
        </div>

        <div class="form-group">
          <button class="btn" type="submit">Create Game</button>
        </div>
      </form>
    </div>
  </div>
</section>