<main>
    <section class="heading-row">
        <h1>GAME DETAILS</h1>
    </section>
    <section class="details-section">
        <div class="details-container">
            <div class="details-img">
                <img src={{game.imageUrl}} alt="{{game.title}}'s cover">
            </div>
            <div class="details-data">
                <h2>{{game.title}}</h2>
                <div class="subhead">
                    <p class="helpful-data">Creators: <span class="dynamic-data">{{game.creator}}</span></p>
                </div>
                <p class="description">{{game.description}}</p>
                <p class="helpful-data">Listed on: <span class="dynamic-data">{{date}}</span></p>
                <div class="details-footer">
                    <div class="condition">
                        
                        <p class="price">{{game.rating}}  <i class="fa-solid fa-star"></i> </p>
                    </div>
                    <div class="btns">
                        <a [routerLink]="['/catalog', game._id, 'edit']">EDIT</a>
                        <a href="">ARCHIVE</a>
                        <a href="">DELETE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>