<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div><!--end log form -->

<!-- <div class="form-btn">
  <button
    class="btn"
    (click)="
      addGame(
        $event,
        inputTitle.value,
        inputImage.value,
        inputPlatform.value,
        inputPrice.value,
        inputCondition.value,
        inputDescription.value
      )
    "
  >
    SUBMIT GAME 
  </button>
</div> -->
