<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a routerLink="/home" class="logo">
            <img src="https://imgs.search.brave.com/lSMBR8-Qp9Nx2JqatKkQTgRVxjEhx3SYDuRNii_Jxrs/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA1LzM2LzM0LzQy/LzM2MF9GXzUzNjM0/NDIwN19sN2FmTDE1/NVhWRHdPZUcwRHZN/U0JnSGRWbXNXYmZm/cC5qcGc" alt="" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Search End ***** -->
         
          <!-- ***** Search End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a routerLink="/home" >Home</a></li>
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/create-game">Create</a></li>
            <li><a routerLink="/catalog">Browse</a></li>
            @if (!isLoggedIn) {
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            } @else{
            <li><a routerLink="/browse">Browse</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li>
              <a href="profile.html"
                >Profile
                <img src="../../../assets/images/profile-header.jpg" alt=""
              /></a>
            </li>
            }
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
